@model IEnumerable<MvcControleJogo.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fundacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fundacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
