@model IEnumerable<MvcControleJogo.Models.Jogos>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeJogo)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.NomeCategoriaFK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePlataformaFK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesenvolvedorFK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoLanc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeJogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCategoriaFK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePlataformaFK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesenvolvedorFK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoLanc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
