@model MvcControleJogo.Models.ClienteJogo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClienteJogo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeClienteFK.NomeCliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeClienteFK.NomeCliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeJogoFK.NomeJogo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeJogoFK.NomeJogo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
